.container {
  background-color: #c00025;
  width: 100%;
  max-width: 550px;
  border-radius: 15px;
  border: 2px solid grey;
  padding: 25px;
}
.display {
  margin-top: 25px;
  height: 100px;
  width: 500px;
  border-radius: 50px;
  color: white;
  background-color: #322c2d;
  box-shadow: 1px 1px #322c2d;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 8%;
  font-size: 5rem;
}
button {
  background: #184379;
  color: #ffffff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
  font-size: 1.8rem;
  box-shadow: 0px 6px 2px 0.5px black;
}
.num2 {
  display: flex;
  color: aqua;
  width: 400px;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.num2 button {
  background: #779cc9;
}
.num {
  display: flex;
  width: 400px;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.special_pro:nth-child(10) {
  background: #184379;
  width: 220px;
  border-radius: 100px;
}
.Special_number {
  width: 480px;
}
.TwoDiv {
  display: flex;
  flex-direction: row;
}
.Operate {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.Operate button {
  background: #779cc9;
}
